[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint-django = "*"
pep8 = "*"
isort = "*"

[packages]
bootstrap4 = "==0.1.0"
django-bootstrap4 = "==0.0.8"
pytz = "==2019.2"
sqlparse = "==0.3.0"
Django = "==2.2.4"
django-autocomplete-light = "*"

[requires]
python_version = "3.7"
