{% extends "erp/dashboard.html" %}
{% block content %}
    <form method="post" class="form">
        <div class="card card-primary card-outline mt-2">
            <div class="card-header">
                <a href="{{ back_url }}" class="btn btn-danger">Descartar</a>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {% for campo in form %}
                    <div class="form-group row">
                        <label for="{{ campo.id_for_label }}" class="col-sm-2 col-form-label">{{ campo.label }}</label>
                        <div class="col-sm-10">
                            {{ campo }}
                            <span class="help-block">
                                {% for error in campo.errors %}
                                    <ul>
                                        <li class="text-red">{{ error }}</li>
                                    </ul>
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        {{ form.media.js }}
    </form>
{% endblock %}